
#include <winuser.h>
#include "resource.h"

TILE_EMPTY		BITMAP	"rcbitmap\\EMPTY.bmp"
TILE_UL_WALL	BITMAP	"rcbitmap\\WALL_UL.bmp"
TILE_H_WALL		BITMAP	"rcbitmap\\WALL_H.bmp"
TILE_UR_WALL	BITMAP	"rcbitmap\\WALL_UR.bmp"
TILE_V_WALL		BITMAP	"rcbitmap\\WALL_V.bmp"
TILE_DR_WALL	BITMAP	"rcbitmap\\WALL_DR.bmp"
TILE_DL_WALL	BITMAP	"rcbitmap\\WALL_DL.bmp"
TILE_U_WALL		BITMAP	"rcbitmap\\WALL_U.bmp"
TILE_R_WALL		BITMAP	"rcbitmap\\WALL_R.bmp"
TILE_D_WALL		BITMAP	"rcbitmap\\WALL_D.bmp"
TILE_L_WALL		BITMAP	"rcbitmap\\WALL_L.bmp"
TILE_TU_WALL	BITMAP	"rcbitmap\\WALL_TU.bmp"
TILE_TR_WALL	BITMAP	"rcbitmap\\WALL_TR.bmp"
TILE_TD_WALL	BITMAP	"rcbitmap\\WALL_TD.bmp"
TILE_TL_WALL	BITMAP	"rcbitmap\\WALL_TL.bmp"
TILE_P_WALL		BITMAP	"rcbitmap\\WALL_P.bmp"
TILE_CAPSULE	BITMAP	"rcbitmap\\CAPSULE.bmp"
TILE_MINE		BITMAP	"rcbitmap\\MINE.bmp"
SPRITE_PLAYER1	BITMAP	"rcbitmap\\PLAYER1.bmp"
SPRITE_PLAYER2	BITMAP	"rcbitmap\\PLAYER2.bmp"
SPRITE_PLAYER3	BITMAP	"rcbitmap\\PLAYER3.bmp"
SPRITE_PLAYER4	BITMAP	"rcbitmap\\PLAYER4.bmp"
SPRITE_BUGS		BITMAP	"rcbitmap\\BUGS.bmp"
SPRITE_BONUS1	BITMAP	"rcbitmap\\FIRSTAID.bmp"
SPRITE_BONUS2	BITMAP	"rcbitmap\\BOMB.bmp"
SPRITE_BONUS3	BITMAP	"rcbitmap\\DYNAMITE.bmp"
SPRITE_BONUS4	BITMAP	"rcbitmap\\HASTE.bmp"

MENU_DEFAULT MENU
{
	POPUP "&File"
	{
		MENUITEM "&New level", MENUITEM_NEW
		MENUITEM SEPARATOR
		MENUITEM "&Generate a labyrinth", MENUITEM_LABYRINTH
		MENUITEM SEPARATOR
		MENUITEM "&Open a level...", MENUITEM_OPEN
		MENUITEM "&Save a level...", MENUITEM_SAVE
		MENUITEM SEPARATOR
		MENUITEM "E&rase all capsules", MENUITEM_ERASE
		MENUITEM "&Fill empty spaces", MENUITEM_FILL
		MENUITEM "O&ptions...", MENUITEM_OPTIONS
		MENUITEM SEPARATOR
		MENUITEM "&Exit", MENUITEM_EXIT
	}
	POPUP "&Edit"
	{
		MENUITEM "Tiles", MENUITEM_NAME1, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "&Empty", MENUITEM_EMPTY
		MENUITEM "&Capsule", MENUITEM_CAPSULE
		MENUITEM "&Wall", MENUITEM_WALL
		MENUITEM "&Mine", MENUITEM_MINE
		MENUITEM "Startpoints", MENUITEM_NAME2, GRAYED MENUBARBREAK
		MENUITEM SEPARATOR
		MENUITEM "Player 1", MENUITEM_PLAYER1
		MENUITEM "Player 2", MENUITEM_PLAYER2
		MENUITEM "Player 3", MENUITEM_PLAYER3
		MENUITEM "Player 4", MENUITEM_PLAYER4
		MENUITEM "Bugs", MENUITEM_BUGS
		MENUITEM "Bonus 1", MENUITEM_BONUS1
		MENUITEM "Bonus 2", MENUITEM_BONUS2
		MENUITEM "Bonus 3", MENUITEM_BONUS3
		MENUITEM "Bonus 4", MENUITEM_BONUS4
	}
	POPUP "&About"
	{
		MENUITEM "My e-mail: trapper1990@o2.pl", MENUITEM_ABOUT, GRAYED
	}
}

DIALOG_OPTIONS DIALOG 0, 0, 130, 150
STYLE DS_SETFONT | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Level options"
FONT 8, "MS Shell Dlg"
{
 DEFPUSHBUTTON "OK", DIALOG_OK, 15, 125, 40, 15
 PUSHBUTTON "Cancel", DIALOG_CANCEL, 65, 125, 40, 15
 CTEXT "Level name", DIALOG_CTNAME, 10, 5, 100, 10
 CTEXT "Red bugs count", DIALOG_CTRED, 10, 35, 100, 10
 CTEXT "Yellow bugs count", DIALOG_CTYELLOW, 10, 65, 100, 10
 CTEXT "Blue bugs count", DIALOG_CTBLUE, 10, 95, 100, 10
 EDITTEXT DIALOG_ETNAME, 10, 15, 100, 13
 EDITTEXT DIALOG_ETRED, 10, 45, 100, 13
 EDITTEXT DIALOG_ETYELLOW, 10, 75, 100, 13
 EDITTEXT DIALOG_ETBLUE, 10, 105, 100, 13
}
